body {
  background-color: #fafafa;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Mono", monospace;
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.0625em;
  line-height: 1.8em;
  text-transform: uppercase;
}

.centered .about h2 {
  font-size: 1.4em;
  line-height: 1.6em;
  text-transform: none;
}

.list ul li a:hover {
  color: #ff8a65;
}

.navigation a:hover {
  color: #ff8a65;
}

a:hover {
  color: #ff8a65;
}
.navigation .navigation-title {
  text-transform: lowercase;
}
/* Icon social */

.centered .about ul li a:hover {
  color: #ff8a65;
}

.navigation .navigation-list {
  background-color: #fafafa;
}

code {
  color: black;
}

p a {
  text-decoration: underline;
}
